.admindiv{
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: auto;
    color: rgb(248, 2, 109);
    
}
.had{
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: auto;
    color: rgb(128, 23, 255);
    background-position: cover;
}